.tlf-languageBar {
    float: left;
    line-height: 30px;
    font-size: 14px;
    padding-top: .70801rem;
    margin-right: 6px;
    position: relative;
}

.tlf-languageBar-current {
    background: #6441a5;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    padding: 4px;
    min-width: 27px;
    text-align: center;
}

    .tlf-languageBar-current:hover {
        background: #7550ba;
        color: #fff;
        text-decoration: none;
    }
